@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

html {
  font-size: 62.5%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5rem 0;
}
.section:first-child {
  padding-top: 9.5rem;
}
@media (min-width: 590px) {
  .section {
    padding: 7.6rem;
  }
  .section:first-child {
    padding-top: 13rem;
  }
}
.section__image {
  width: 85%;
  margin: 2.5rem 0;
  max-width: 80rem;
}
.section .wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-heading {
  font-size: 2.1rem;
  text-align: center;
  padding: 0 3rem;
  color: #4d545a;
  margin-bottom: 2rem;
  line-height: 3rem;
}
@media (min-width: 590px) {
  .section-heading {
    font-size: 3.5rem;
    margin-bottom: 2.8rem;
  }
}

.section-text {
  font-size: 1.4rem;
  color: #b1b5b8;
  line-height: 2.5rem;
  padding: 0 2.5rem;
  text-align: center;
  margin-bottom: 2.5rem;
}
.section-text:last-child {
  margin-bottom: 0;
}
@media (min-width: 590px) {
  .section-text {
    max-width: 69.4rem;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
}

.smaller-heading {
  color: #4d545a;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
}

.header {
  background-image: url("../img/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;
}
@media (min-width: 590px) {
  .header {
    background-image: url("../img/bg-header-desktop.png");
  }
}
.header__logo {
  width: 10rem;
  margin-bottom: 5.5rem;
}
@media (min-width: 590px) {
  .header__logo {
    margin-bottom: 6.8rem;
  }
}
.header__buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2.5rem;
  align-items: center;
}
@media (min-width: 590px) {
  .header__buttons {
    flex-direction: row;
    justify-content: center;
  }
}
.header__buttons button {
  height: 4.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  border-radius: 20px;
  border-top: none;
  border-left: none;
  border-right: none;
  width: 23.2rem;
  transition: all 250ms ease;
}
.header__buttons button:hover {
  cursor: pointer;
}
@media (min-width: 590px) {
  .header__buttons button {
    height: 5.4rem;
    width: 23.2rem;
    margin: 0.9rem;
    border-radius: 40px;
    font-size: 1.8rem;
  }
}
.header__buttons__ios {
  margin-bottom: 2rem;
  background: #57bca6;
  border-bottom: 2px solid #4aa18c;
}
.header__buttons__ios:hover {
  box-shadow: #57bca6 0px 10px 20px -10px;
}
@media (min-width: 590px) {
  .header__buttons__ios {
    margin-bottom: 0;
  }
}
.header__buttons__mac {
  background: #6272fb;
  border-bottom: 2px solid #5764cc;
}
.header__buttons__mac:hover {
  box-shadow: #6272fb 0px 10px 20px -10px;
}

.description {
  padding-bottom: 0;
}

.features-one {
  padding-top: 28rem;
}
@media (min-width: 1200px) {
  .features-one {
    flex-direction: row;
    padding-top: 5.5rem;
  }
  .features-one .wrap {
    align-items: flex-start;
  }
  .features-one .wrap .section-text {
    margin-bottom: 2rem;
    padding: 0;
  }
  .features-one .wrap h3,
.features-one .wrap p {
    text-align: left;
  }
  .features-one .wrap h3 {
    font-size: 2.1rem;
  }
  .features-one .wrap p {
    font-size: 1.8rem;
  }
  .features-one img {
    position: relative;
    right: 11rem;
  }
}/*# sourceMappingURL=style.css.map */