@use "mediaqueries" as mq;
@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

html {
  font-size: 62.5%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5rem 0;

  &:first-child {
    padding-top: 9.5rem;
  }

  @include mq.tablet {
    padding: 7.6rem;
    &:first-child {
      padding-top: 13rem;
    }
  }

  &__image {
    width: 85%;
    margin: 2.5rem 0;
    max-width: 80rem;
  }
}

.section-heading {
  font-size: 2.1rem;
  text-align: center;
  padding: 0 3rem;
  color: v.$darkGray;
  margin-bottom: 2rem;
  line-height: 3rem;

  @include mq.tablet {
    font-size: 3.5rem;
    margin-bottom: 2.8rem;
  }
}

.section-text {
  font-size: 1.4rem;
  color: v.$lightGray;
  line-height: 2.5rem;
  padding: 0 2.5rem;
  text-align: center;
  margin-bottom: 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq.tablet {
    max-width: 69.4rem;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
}

.smaller-heading {
  color: v.$darkGray;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;
}
