@use "mediaqueries" as mq;
@use "variables" as v;
@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Bai Jamjuree", sans-serif;
}

html {
  font-size: 62.5%;
}

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6.5rem 0;

  &:first-child {
    padding-top: 9.5rem;
  }

  @include mq.tablet {
    padding: 7.6rem;
    &:first-child {
      padding-top: 13rem;
    }
  }

  &__image {
    width: 85%;
    margin: 2.5rem 0;
    max-width: 80rem;
  }
}

.section-heading {
  font-size: 2.1rem;
  text-align: center;
  padding: 0 3rem;
  color: v.$darkGray;
  margin-bottom: 2rem;
  line-height: 3rem;

  @include mq.tablet {
    font-size: 3.5rem;
    margin-bottom: 2.8rem;
  }
}

.section-text {
  font-size: 1.4rem;
  color: v.$lightGray;
  line-height: 2.5rem;
  padding: 0 2.5rem;
  text-align: center;
  margin-bottom: 2.5rem;

  &:last-child {
    margin-bottom: 0;
  }

  @include mq.tablet {
    max-width: 69.4rem;
    font-size: 1.7rem;
    margin-bottom: 5rem;
  }
}

.smaller-heading {
  color: v.$darkGray;
  font-size: 1.7rem;
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  text-align: center;

  @include mq.tablet {
    font-size: 2.1rem;
  }
}

.buttons {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 2.5rem;
  align-items: center;

  @include mq.tablet {
    flex-direction: row;
    justify-content: center;
  }

  button {
    height: 4.3rem;
    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    border-radius: 20px;
    border-top: none;
    border-left: none;
    border-right: none;
    width: 23.2rem;
    transition: all 250ms ease;

    &:hover {
      cursor: pointer;
    }

    @include mq.tablet {
      height: 5.4rem;
      width: 23.2rem;
      margin: 0.9rem;
      border-radius: 40px;
      font-size: 1.8rem;
    }
  }

  &__ios {
    margin-bottom: 2rem;
    background: v.$aqua;
    border-bottom: 2px solid v.$aquaShadow;

    &:hover {
      box-shadow: v.$aqua 0px 10px 20px -10px;
    }

    @include mq.tablet {
      margin-bottom: 0;
    }
  }

  &__mac {
    background: v.$purple;
    border-bottom: 2px solid v.$purpleShadow;

    &:hover {
      box-shadow: v.$purple 0px 10px 20px -10px;
    }
  }
}
