@use "utilities";
@use "variables" as v;
@use "mediaqueries" as mq;

.header {
  background-image: url("../img/bg-header-mobile.png");
  background-repeat: no-repeat;
  background-size: contain;

  @include mq.tablet {
    background-image: url("../img/bg-header-desktop.png");
  }

  &__logo {
    width: 10rem;
    margin-bottom: 5.5rem;

    @include mq.tablet {
      margin-bottom: 6.8rem;
    }
  }
}

.description {
  padding-bottom: 0;
}

.features-one {
  padding-top: 2.8rem;

  .wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  @include mq.desktop {
    flex-direction: row;
    padding-top: 5.5rem;

    .wrap {
      align-items: flex-start;
      .section-text {
        margin-bottom: 2rem;
        padding: 0;
      }

      h3,
      p {
        text-align: left;
      }

      p {
        font-size: 1.8rem;
      }
    }

    img {
      position: relative;
      right: 11rem;
    }
  }
}

.features-two {
  img {
    margin-bottom: 0;
  }
  padding-bottom: 2rem;
}

.features-three {
  article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 4.5rem;

    img {
      width: 3.3rem;
    }
  }

  @include mq.desktop {
    .wrap {
      display: flex;
      max-width: 110rem;
      justify-content: center;

      article {
        max-width: 33.5rem;
      }
    }
  }
}

.companies {
  &__logo {
    margin: 2.5rem 0;
  }

  @include mq.tablet {
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__logo {
      margin: 0 2.5rem;
      width: 10%;
    }
  }
}

.footer {
  background: #f5f6f8;
  padding-top: 4.1rem;
  padding-bottom: 4.1rem;
  align-items: center;

  @include mq.tablet {
    flex-direction: row;
    justify-content: space-between;
    padding: 4.4rem 16.5rem;
  }

  &__logo {
    width: 4.3rem;
    margin-bottom: 2.2rem;

    @include mq.tablet {
      margin-bottom: 0;
    }
  }

  &__links {
    display: flex;
    flex-direction: column;
    align-items: center;

    @include mq.tablet {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto auto;
    }

    li {
      margin: 1.4rem 0;

      @include mq.tablet {
        margin: 1rem 0;
      }

      a {
        font-size: 1.2rem;
      }
    }
  }

  &__social-media-icons {
    display: flex;
    margin-top: 3.2rem;
    align-items: center;

    @include mq.tablet {
      margin-top: 0;
    }

    a {
      i {
        margin: 0 1.5rem;
        font-size: 1.9rem;

        @include mq.tablet {
          font-size: 2.4rem;
          margin: 0 2.4rem;
        }
      }
    }
  }
}
